{% extends 'base.html' %}

{% block content %}




    <div class="m-4">
        <h3>Create Account</h3><hr>
        <div class="mb-4">

            <form method="post" >
                {% csrf_token %}
                {{ form.as_p }}
                {% if form.errors %}
                    <div class="error-message">
                        <p>Please correct the following errors:</p>
                        <ul>
                            {% for field in form %}
                                {% for error in field.errors %}
                                    <li>{{ field.label }}: {{ error }}</li>
                                {% endfor %}
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                <button class="btn btn-warning">Sign Up</button>
            </form>
            
        </div>

    </div>

{% endblock content %}